
<section class="section__container">
			<div class="section__child">
			
				<div class="section__info-container">
					<div class="section__info">
					
						<h2 class="section__license"><%= license.license_name.toUpperCase() %></h2>
						<p><%= license.license_info %></p>
					
					</div>
				</div>
				<a href="/shop"><button class="banner__collection-button">VER COLLECIÓN</button></a>
			</div>	
            <div>
                <img src="/assets/multimedia/uploads/<%= license.license_name %>/<%= license.license_image_name %>" alt="imagen del baby yoda">
            </div>
</section>